.writeTo {
	display: flex;
	align-items: center;
	gap: 10px;

	max-width: 343px;
	padding: 20px 24px;
	border-radius: 20px;
	border: 1px solid #5c5c5c;
}

.writeTo--dark {
	border: 1px solid #bfbfbf;
}

.writeTo__text {
	margin: 0;
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.04em;
}

.writeTo--dark .writeTo__text {
	color: #000000;
}

.writeTo__line {
	width: 1px;
	height: 40px;
	background-color: #5c5c5c;
}

.writeTo--dark .writeTo__line {
	background-color: #bfbfbf;
}

.writeTo__socials {
	display: flex;
	align-items: center;
	gap: 8px;
}

.write__social {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;

	color: #ffffff;
	border-radius: 50%;
	border: 1px solid #5c5c5c;
	transition: transform 0.3s ease;
}

.write__social:hover {
	transform: scale(1.1);
}

.writeTo--dark .write__social {
	color: #000000;
}

@media screen and (min-width: 1024px) {
	.writeTo {
		gap: 16px;
	}

	.writeTo.writeTo--dark {
		max-width: 289px;
	}

	.writeTo.writeTo--dark .writeTo__text {
		font-size: 14px;
		line-height: 19px;
	}
}
