.apps {
	position: relative;
	z-index: 0;
	padding: 48px 0;
	background-color: #f7f5f7;
}

.apps__bg {
	display: none;
	overflow: hidden;
}

.apps__title {
	display: grid;
	position: relative;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-size: 44px;
	font-weight: 800;
	line-height: 53px;
	letter-spacing: -0.05em;
	color: #000000;
	margin: 0;
}

.apps__title--span {
	opacity: 0;
}

.apps__title--dec {
	display: inline-block;
	height: 1px;
	width: 65px;
}

.apps__title--decUa {
	display: inline-block;
	height: 1px;
	width: 25px;
}

.apps__wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 36px;
	max-width: 913px;
	margin: 0 0 0 auto;
	padding: 36px 24px 50px 24px;
	border-radius: 20px;
	border-top-right-radius: 0;
	border: 1px solid #bfbfbf;
	background-color: #f7f5f7;
}

.apps__decDesktop {
	display: none;
}

.apps__decMobile {
	position: absolute;
	top: -39.5px;
	right: -1.5px;
}

.apps__subtitle {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.04em;
	margin: 0 0 16px 0;
}

.apps__items {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 8px;
}

.apps__item {
	width: 48px;
	height: 48px;
	position: relative;
	display: inline-flex;
}

.apps__name {
	position: absolute;
	top: 105%;
	left: 0px;

	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	white-space: nowrap;

	margin: 0;
	opacity: 0;
	border-radius: 164px;
	padding: 8px 10px;
	border: 1px solid #bfbfbf;
	transform: scale3d(0.2, 0.2, 1);
	transition: all 0.2s ease-in-out;
}

.apps__name.apps__name--last {
	right: 0;
	left: initial;
}

.apps__item:hover > .apps__name {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.apps__item:active > .apps__name {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.apps__icon {
	width: 48px;
	height: 48px;
}

@media screen and (min-width: 768px) {
	.apps {
		padding: 76px 0;
	}

	.apps__title {
		font-size: 64px;
		line-height: 77px;
		margin-bottom: -34px;
	}

	.apps__title--dec {
		width: 165px;
	}

	.apps__title--decUa {
		width: 135px;
	}

	.apps__wrapper {
		gap: 64px;
		padding: 72px;
	}

	.apps__decMobile {
		display: none;
	}

	.apps__decDesktop {
		position: absolute;
		display: block;
		top: -53.5px;
		right: -1px;
	}
}

@media screen and (min-width: 1024px) {
	.apps__name.apps__name--last {
		left: 0;
		right: initial;
	}
}

@media screen and (min-width: 1280px) {
	.apps__bg {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	.apps__dec {
		width: auto;
		height: 100%;
	}
}
