.hero {
	position: relative;
	padding-bottom: 24px;
	background-color: #000000;
	z-index: 1;
}

.hero__bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 0;
}

.hero__bg-1 {
	flex: 1 1 30%;
	background-color: #000000;
}

.hero__bg-2 {
	flex: 1 1 70%;
	background-color: #000000;
}

.hero__container {
	position: relative;
}

.hero__socials {
	display: none;
}

.hero__socials a {
	opacity: 0;
}

.hero__picture {
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 0;
	line-height: 0;
}

.hero__img {
	max-height: 270px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.6s ease-in-out 0.4s;
}

.hero__img--active {
	opacity: 1;
}

.hero__gradient {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 90px;
	background: linear-gradient(rgba(0, 0, 0, 0), #000000);
}

.hero__title {
	font-family: "Montserrat", sans-serif;
	font-size: 44px;
	font-weight: 800;
	line-height: 53px;
	margin: 0 0 8px 0;
	letter-spacing: -0.05em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(92.4deg, #ffffff 15.52%, #9f9f9f 85.42%);
}

.hero__title span {
	opacity: 0;
}

.hero__description {
	max-width: 442px;
	color: #86868b;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: -0.04em;
	margin: 0;
	padding-bottom: 32px;
	opacity: 0;
	transform: translateY(15px);
	transition: transform 0.6s ease-in-out 1s, opacity 0.6s ease-in-out 1s;
}

.hero__description--active {
	opacity: 1;
	transform: translateY(0);
}

.hero__line {
	width: 100%;
	height: 1px;
	max-width: 442px;
	margin-bottom: 16px;
	background-color: #86868b;
	opacity: 0;
	transition: opacity 0.2s ease-in-out 1.2s;
}

.hero__line--active {
	opacity: 1;
}

.hero__icon {
	height: 24px;
	margin-bottom: 24px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 1.3s;
}

.hero__icon--active {
	opacity: 1;
}

.hero__about {
	max-width: 442px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin: 0 0 32px 0;
	text-indent: 80px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(92.4deg, #ffffff 15.52%, #9f9f9f 85.42%);
	opacity: 0;
	transform: translateY(15px);
	transition: transform 0.6s ease-in-out 1.4s, opacity 0.6s ease-in-out 1.4s;
}

.hero__about--active {
	opacity: 1;
	transform: translateY(0);
}

.hero__contacts {
	opacity: 0;
	transform: translateY(15px);
	transition: transform 0.6s ease-in-out 1.6s, opacity 0.6s ease-in-out 1.6s;
}

.hero__contacts--active {
	opacity: 1;
	transform: translateY(0);
}

@media screen and (min-width: 768px) {
	.hero {
		padding-bottom: 0;
	}

	.hero__container {
		display: flex;
	}

	.hero__picture {
		height: 240px;
		flex: 0 1 300px;
		align-items: flex-end;
		align-self: flex-end;
	}

	.hero__img {
		width: auto;
		max-height: 240px;
	}

	.hero__wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.hero__about {
		margin: 0;
	}

	.hero__contacts {
		width: 100%;
		max-width: 442px;
		display: flex;
		align-items: start;
		flex-direction: column;
		margin-bottom: 22px;
	}

	.hero__contact {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.hero__socials {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 8px;
		margin-bottom: 32px;
	}

	.hero__wrapper {
		padding-top: 25px;
	}

	.hero__picture {
		height: 320px;
	}

	.hero__img {
		max-height: 320px;
	}
}

@media screen and (min-width: 1280px) {
	.hero__bg-1 {
		background-color: #ffffff;
	}

	.hero__picture {
		height: 360px;
		flex: 0 1 380px;
	}

	.hero__img {
		max-height: 360px;
	}

	.hero__gradient {
		display: none;
	}

	.hero__wrapper {
		align-items: initial;
		padding-top: 50px;
	}

	.hero__title {
		font-size: 64px;
		line-height: 77px;
		margin: 0 0 12px 0;
	}

	.hero__description {
		font-size: 20px;
		line-height: 27px;
		padding-bottom: 48px;
	}

	.hero__socials a {
		color: #000000;
	}
}

@media screen and (min-width: 1440px) {
	.hero__picture {
		height: 646px;
		flex: 0 1 660px;
	}

	.hero__img {
		width: 660px;
		height: 488px;
		max-height: 612px;
	}
}

@media screen and (min-width: 1700px) {
	.hero__bg-1 {
		flex: 1 1 35%;
	}

	.hero__bg-2 {
		flex: 1 1 65%;
	}
}
