---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="advantages">
	<div class="container">
		<div class="advantages__container">
			<div class="advantages__block">
				<h3 class="advantages__title">{t("advantages.title1")}</h3>
				<div class="advantages__scroller" data-speed="fast">
					<div class="advantages__inner">
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill10"></use>
								</svg>
							</span>
							{t("advantages.item1")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill11"></use>
								</svg>
							</span>
							{t("advantages.item2")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill1"></use>
								</svg>
							</span>
							{t("advantages.item3")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill9"></use>
								</svg>
							</span>
							{t("advantages.item4")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill12"></use>
								</svg>
							</span>
							{t("advantages.item5")}
						</p>
					</div>
				</div>
			</div>
			<div class="advantages__block advantages__block--dark">
				<h3 class="advantages__title">{t("advantages.title2")}</h3>
				<div class="advantages__scroller" data-speed="faster">
					<div class="advantages__inner">
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill13"></use>
								</svg>
							</span>
							{t("advantages.item6")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill14"></use>
								</svg>
							</span>
							{t("advantages.item7")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill15"></use>
								</svg>
							</span>
							{t("advantages.item8")}
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill8"></use>
								</svg>
							</span>
							{t("advantages.item9")}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
