<section class="advantages">
	<div class="container">
		<div class="advantages__container">
			<div class="advantages__block">
				<h3 class="advantages__title">Personality</h3>
				<div class="advantages__scroller" data-speed="fast">
					<div class="advantages__inner">
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill10"></use>
								</svg>
							</span>
							Creativity
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill11"></use>
								</svg>
							</span>
							Sociability
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill1"></use>
								</svg>
							</span>
							Leadership
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill9"></use>
								</svg>
							</span>
							Strategic Thinking
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill12"></use>
								</svg>
							</span>
							Stress Resistance
						</p>
					</div>
				</div>
			</div>
			<div class="advantages__block advantages__block--dark">
				<h3 class="advantages__title">Hobby</h3>
				<div class="advantages__scroller" data-speed="faster">
					<div class="advantages__inner">
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill13"></use>
								</svg>
							</span>
							Sport
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill14"></use>
								</svg>
							</span>
							Teaching
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill15"></use>
								</svg>
							</span>
							Tourism
						</p>
						<p class="advantages__item">
							<span class="advantages__icon">
								<svg width="24" height="24" aria-hidden="true" focusable="false">
									<use href="/icons.svg#skill8"></use>
								</svg>
							</span>
							Event organisation
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
