---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="apps">
	<div class="apps__bg">
		<img
			class="apps__dec"
			src="/imgs/appsBg.svg"
			aria-hidden="true"
			loading="lazy"
			alt=""
			width="1189"
			height="657"
		/>
	</div>
	<div class="container">
		<div class="apps__container">
			<h2 class="apps__title">
				<span class="apps__title--span">A</span><span class="apps__title--span">p</span><span
					class="apps__title--span">p</span
				><span class="apps__title--span">l</span><span class="apps__title--span">i</span><span
					class="apps__title--span">c</span
				><span class="apps__title--span">a</span><span class="apps__title--span">t</span><span
					class="apps__title--span">i</span
				><span class="apps__title--span">o</span><span class="apps__title--span">n</span><span
					class="apps__title--span">s</span
				><br /><span class="apps__title--dec"></span><span class="apps__title--span">e</span><span
					class="apps__title--span">x</span
				><span class="apps__title--span">p</span><span class="apps__title--span">e</span><span
					class="apps__title--span">r</span
				><span class="apps__title--span">i</span><span class="apps__title--span">e</span><span
					class="apps__title--span">n</span
				><span class="apps__title--span">c</span><span class="apps__title--span">e</span>
			</h2>
			<div class="apps__wrapper">
				<div class="apps__decMobile">
					<svg width="177" height="40" aria-hidden="true" focusable="false">
						<use href="/icons.svg#appDecMobile"></use>
					</svg>
				</div>
				<div class="apps__decDesktop">
					<svg width="272" height="55" aria-hidden="true" focusable="false">
						<use href="/icons.svg#appDecDesktop"></use>
					</svg>
				</div>
				<div class="apps__section">
					<h3 class="apps__subtitle">{t("apps.subtitle1")}</h3>
					<div class="apps__items">
						<div class="apps__item">
							<p class="apps__name">Attlasian (Jira)</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#jira"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">Slack</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#slack"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">Trello</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#trello"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">TeamGantt</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#teamGantt"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name apps__name--last">WorkSection</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#workSection"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="apps__section">
					<h3 class="apps__subtitle">{t("apps.subtitle2")}</h3>
					<div class="apps__items">
						<div class="apps__item">
							<p class="apps__name">Miro</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#miro"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">Instagantt</p>
							<img
								src="/imgs/instagantt.png"
								srcset="/imgs/instagantt@2x.png"
								aria-hidden="true"
								width="48"
								height="48"
								alt=""
								loading="lazy"
							/>
						</div>
						<div class="apps__item">
							<p class="apps__name">GPT</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#gpt"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">Hotjar</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#hotjar"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name apps__name--last">SimilarWeb</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#similarWeb"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="apps__section">
					<h3 class="apps__subtitle">{t("apps.subtitle3")}</h3>
					<div class="apps__items">
						<div class="apps__item">
							<p class="apps__name">XCode</p>
							<img
								src="/imgs/xcode.png"
								srcset="/imgs/xcode@2x.png"
								aria-hidden="true"
								width="48"
								height="48"
								alt=""
								loading="lazy"
							/>
						</div>
						<div class="apps__item">
							<p class="apps__name apps__name--last">VSCode</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#vsCode"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="apps__section">
					<h3 class="apps__subtitle">{t("apps.subtitle4")}</h3>
					<div class="apps__items">
						<div class="apps__item">
							<p class="apps__name">MS Word</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#word"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">MS Excel</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#excel"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">MS PowerPoint</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#powerPoint"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name apps__name--last">MS Teams</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#msTeams"></use>
							</svg>
						</div>
					</div>
				</div>
				<div class="apps__section">
					<h3 class="apps__subtitle">{t("apps.subtitle5")}</h3>
					<div class="apps__items">
						<div class="apps__item">
							<p class="apps__name">Figma</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#figma"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name">Adobe Photoshop</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#adobePs"></use>
							</svg>
						</div>
						<div class="apps__item">
							<p class="apps__name apps__name--last">Midjourney</p>
							<svg class="apps__icon" width="48" height="48" aria-hidden="true" focusable="false">
								<use href="/icons.svg#midjourney"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
