---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="courses">
	<div class="container">
		<div class="courses__container">
			<div class="courses__col1">
				{
					lang === "en" ? (
						<h2 class="courses__title">
							<span class="courses__title--span">C</span>
							<span class="courses__title--span">o</span>
							<span class="courses__title--span">u</span>
							<span class="courses__title--span">r</span>
							<span class="courses__title--span">s</span>
							<span class="courses__title--span">e</span>
							<span class="courses__title--span">s</span>
						</h2>
					) : (
						<h2 class="courses__title">
							<span class="courses__title--span">К</span>
							<span class="courses__title--span">у</span>
							<span class="courses__title--span">р</span>
							<span class="courses__title--span">с</span>
							<span class="courses__title--span">и</span>
						</h2>
					)
				}
				<div class="courses__preview">
					<img
						class="courses__img courses__img--active"
						src="/imgs/courses/1.png"
						alt=""
						aria-hidden="true"
						width="800"
						height="566"
						loading="lazy"
					/>
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
					<img loading="lazy" class="courses__img" src="/imgs/courses/1.png" alt="" aria-hidden="true" />
				</div>
			</div>
			<div class="courses__col2">
				<div class="courses__list">
					<div class="courses__item">
						<p class="courses__name">
							<span>IT Step</span>
							<span>Мала Комп'ютерна академія</span>
						</p>
						<p class="courses__time">
							<span>2013 — 2016</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>Look at Pro Education</span>
							<span>C# Basics</span>
						</p>
						<p class="courses__time">
							<span>4 {t("courses.month")}</span>
							<span>2017</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>Look at Pro Education</span>
							<span>Unity Game Development</span>
						</p>
						<p class="courses__time">
							<span>4 {t("courses.month")}</span>
							<span>2018</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>{t("courses.school")} Hillel</span>
							<span>Project manager</span>
						</p>
						<p class="courses__time">
							<span>4 {t("courses.month")}</span>
							<span>2020</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>{t("courses.school")} IAMPM</span>
							<span>Business analysis</span>
						</p>
						<p class="courses__time">
							<span>4 {t("courses.month")}</span>
							<span>2022</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>{t("courses.school")} IAMPM</span>
							<span>TechMind</span>
						</p>
						<p class="courses__time">
							<span>4 {t("courses.month")}</span>
							<span>2023</span>
						</p>
					</div>
					<div class="courses__item">
						<p class="courses__name">
							<span>{t("courses.school")} IAMPM</span>
							<span>Product management</span>
						</p>
						<p class="courses__time">
							<span>2023 — 2024</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
