---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="education" class="education">
	<div class="container">
		<div class="education__container">
			{
				lang === "en" ? (
					<h2 class="education__title">
						<span class="education__title--span">E</span>
						<span class="education__title--span">d</span>
						<span class="education__title--span">u</span>
						<span class="education__title--span">c</span>
						<span class="education__title--span">a</span>
						<span class="education__title--span">t</span>
						<span class="education__title--span">i</span>
						<span class="education__title--span">o</span>
						<span class="education__title--span">n</span>
					</h2>
				) : (
					<h2 class="education__title">
						<span class="education__title--span">О</span>
						<span class="education__title--span">с</span>
						<span class="education__title--span">в</span>
						<span class="education__title--span">і</span>
						<span class="education__title--span">т</span>
						<span class="education__title--span">а</span>
					</h2>
				)
			}
			<div class="education__cards">
				<article class="education__card">
					<div class="education__row1">
						<h3 class="education__name">
							{t("education.name1.1")}
							<br />
							{t("education.name1.2")}
						</h3>
						<p class="education__time">2023</p>
					</div>
					<div class="education__row2">
						<div class="education__data">
							<div class="education__subrow">
								<p class="education__specialty">
									{t("education.specialty1.1")}
									<br />
									{t("education.specialty1.2")}
								</p>
								<p class="education__rank">
									{t("education.rank1.1")}
									<br />
									{t("education.rank1.2")}
								</p>
							</div>
							<ul class="education__ul">
								<li class="education__li">{t("education.ul1.li1")}</li>
							</ul>
						</div>
						<picture aria-hidden="true">
							<source srcset="/imgs/dnu.webp 1x, /imgs/dnu@2x.webp 2x" type="image/webp" />
							<img
								loading="lazy"
								class="education__img"
								width="82"
								height="82"
								src="/imgs/dnu.png"
								srcset="/imgs/dnu@2x.png 2x"
								alt="DNU"
							/>
						</picture>
					</div>
				</article>
				<article class="education__card">
					<div class="education__row1">
						<h3 class="education__name">
							{t("education.name2.1")}
							<br />
							{t("education.name2.2")}
						</h3>
						<p class="education__time">2017 — 2020</p>
					</div>
					<div class="education__row2">
						<div class="education__data">
							<div class="education__subrow">
								<p class="education__specialty">
									{t("education.specialty2.1")}
									<br />
									{t("education.specialty2.2")}
								</p>
								<p class="education__rank">
									{t("education.rank2.1")}
									<br />
									{t("education.rank2.2")}
								</p>
							</div>
							<ul class="education__ul">
								<li class="education__li">{t("education.ul2.li1")}</li>
								<li class="education__li">{t("education.ul2.li2")}</li>
								<li class="education__li">{t("education.ul2.li3")}</li>
								<li class="education__li">{t("education.ul2.li4")}</li>
							</ul>
						</div>
						<picture aria-hidden="true">
							<source srcset="/imgs/dnu.webp 1x, /imgs/dnu@2x.webp 2x" type="image/webp" />
							<img
								loading="lazy"
								class="education__img"
								width="82"
								height="82"
								src="/imgs/dnu.png"
								srcset="/imgs/dnu@2x.png 2x"
								alt="DNU"
							/>
						</picture>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
