---
import WriteTo from "../entities/WriteTo.astro";
---

<section id="experience" class="experience">
	<div class="experience__bg">
		<img
			loading="lazy"
			class="experience__dec"
			src="/imgs/experienceBg.svg"
			aria-hidden="true"
			alt=""
			width="1229"
			height="747"
		/>
	</div>
	<div class="container">
		<div class="experience__container">
			<h2 class="experience__title">
				<span class="experience__title--span">W</span><span class="experience__title--span">o</span><span
					class="experience__title--span">r</span
				><span class="experience__title--span">k</span>
				<br />
				<span class="experience__title--span">e</span><span class="experience__title--span">x</span><span
					class="experience__title--span">p</span
				><span class="experience__title--span">e</span><span class="experience__title--span">r</span><span
					class="experience__title--span">i</span
				><span class="experience__title--span">e</span><span class="experience__title--span">n</span><span
					class="experience__title--span">c</span
				><span class="experience__title--span">e</span>
			</h2>
			<div class="experience__gif">
				<img
					width="75"
					height="75"
					loading="lazy"
					src="/swipe.gif"
					alt="Swipe left"
					class="experience__swipe"
				/>
			</div>
			<div class="experience__cards">
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">01</p>
						<p class="experience__time">2022 Aug — Current</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">Project manager</h3>
							<p class="experience__project">Solar Digital</p>
							<p class="experience__about">Web Project manager with Business analytic skills</p>
							<ul class="experience__ul">
								<li class="experience__li">
									Planning, managing, and executing information projects taking into account budget,
									timelines, and customer requirements.
								</li>
								<li class="experience__li">Managing project risks and resolving conflicts</li>
								<li class="experience__li">
									Creation and maintaining project documentation, including project plans, status reports, and
									meeting minutes.
								</li>
								<li class="experience__li">
									Assessing and managing project resources, including human, financial, and time resources.
								</li>
								<li class="experience__li">Conduct regular project reviews</li>
								<li class="experience__li">Implementation of best project management practices</li>
								<li class="experience__li">
									Developing and supporting the professional growth of team members through training,
									mentoring, and performance reviews.
								</li>
								<li class="experience__li">
									Participation in pre-sales activities, including preparation of proposals, presentations,
									and negotiations with clients.
								</li>
								<li class="experience__li">Events and workshops organization</li>
								<li class="experience__li">Help to organize and implore the HR department</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/4.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="70"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">02</p>
						<p class="experience__time">2022 Jun — 2022 Feb</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">Product owner</h3>
							<p class="experience__project">KACH NFT</p>
							<p class="experience__about">Creation of NFT collections for fundraising of the Armed Forces</p>
							<ul class="experience__ul">
								<li class="experience__li">team gathering;</li>
								<li class="experience__li">work with project contracts and documents;</li>
								<li class="experience__li">analysis of the NFT market;</li>
								<li class="experience__li">cooperation with KulturaFilms;</li>
								<li class="experience__li">site development management;</li>
								<li class="experience__li">management of charitable events;</li>
								<li class="experience__li">management of a team of 2D/3D designers.</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/3.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="28"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">03</p>
						<p class="experience__time">2021 Jun — 2021 Dec</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">Project manager NTI Loyalty</h3>
							<p class="experience__project">NTI Loyalty</p>
							<p class="experience__about">
								Exploring the concept of a loyalty system for "АТБ" in the form of a tabletop game about
								Ukraine.
							</p>
							<ul class="experience__ul">
								<li class="experience__li">working and managing with outsource team;</li>
								<li class="experience__li">market analysis;</li>
								<li class="experience__li">integration with a creative agency;</li>
								<li class="experience__li">attention to the development of design, mechanics;</li>
								<li class="experience__li">presentation of the product in front of the deputy.</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/2.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="19"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">04</p>
						<p class="experience__time">2020 May — 2021 May</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">Project manager</h3>
							<p class="experience__project">School “Держу в курсе”</p>
							<p class="experience__about">
								Founded and completely managed the startup of the online "ЗНО" school.
							</p>
							<ul class="experience__ul">
								<li class="experience__li">concept development;</li>
								<li class="experience__li">market analysis;</li>
								<li class="experience__li">interview with the target audience;</li>
								<li class="experience__li">team gathering;</li>
								<li class="experience__li">designing the website and landing page;</li>
								<li class="experience__li">brand strategy development;</li>
								<li class="experience__li">development of business strategy;</li>
								<li class="experience__li">
									IT product development management, which included Telegram bot, Landing page, LMS system;
								</li>
								<li class="experience__li">project launch.</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/1.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="87"
							/>
						</div>
					</div>
				</article>
				<div class="experience__empty"></div>
			</div>
			<div class="experience__writeTo">
				<WriteTo isDark />
			</div>
		</div>
	</div>
</section>
