---
import WriteTo from "../entities/WriteTo.astro";

import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="experience" class="experience">
	<div class="experience__bg">
		<img
			loading="lazy"
			class="experience__dec"
			src="/imgs/experienceBg.svg"
			aria-hidden="true"
			alt=""
			width="1229"
			height="747"
		/>
	</div>
	<div class="container">
		<div class="experience__container">
			<h2 class="experience__title">
				<span class="experience__title--span">W</span><span class="experience__title--span">o</span><span
					class="experience__title--span">r</span
				><span class="experience__title--span">k</span>
				<br />
				<span class="experience__title--span">e</span><span class="experience__title--span">x</span><span
					class="experience__title--span">p</span
				><span class="experience__title--span">e</span><span class="experience__title--span">r</span><span
					class="experience__title--span">i</span
				><span class="experience__title--span">e</span><span class="experience__title--span">n</span><span
					class="experience__title--span">c</span
				><span class="experience__title--span">e</span>
			</h2>
			<div class="experience__gif">
				<img
					width="75"
					height="75"
					loading="lazy"
					src="/swipe.gif"
					alt="Swipe left"
					class="experience__swipe"
				/>
			</div>
			<div class="experience__cards">
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">01</p>
						<p class="experience__time">{t("experience.time1")}</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">{t("experience.name1")}</h3>
							<p class="experience__project">{t("experience.project1")}</p>
							<p class="experience__about">{t("experience.about1")}</p>
							<ul class="experience__ul">
								<li class="experience__li">{t("experience.ul1.li1")}</li>
								<li class="experience__li">{t("experience.ul1.li2")}</li>
								<li class="experience__li">{t("experience.ul1.li3")}</li>
								<li class="experience__li">{t("experience.ul1.li4")}</li>
								<li class="experience__li">{t("experience.ul1.li5")}</li>
								<li class="experience__li">{t("experience.ul1.li6")}</li>
								<li class="experience__li">{t("experience.ul1.li7")}</li>
								<li class="experience__li">{t("experience.ul1.li8")}</li>
								<li class="experience__li">{t("experience.ul1.li9")}</li>
								<li class="experience__li">{t("experience.ul1.li10")}</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/4.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="70"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">02</p>
						<p class="experience__time">{t("experience.time2")}</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">{t("experience.name2")}</h3>
							<p class="experience__project">{t("experience.project2")}</p>
							<p class="experience__about">{t("experience.about2")}</p>
							<ul class="experience__ul">
								<li class="experience__li">{t("experience.ul2.li1")}</li>
								<li class="experience__li">{t("experience.ul2.li2")}</li>
								<li class="experience__li">{t("experience.ul2.li3")}</li>
								<li class="experience__li">{t("experience.ul2.li4")}</li>
								<li class="experience__li">{t("experience.ul2.li5")}</li>
								<li class="experience__li">{t("experience.ul2.li6")}</li>
								<li class="experience__li">{t("experience.ul2.li7")}</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/3.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="28"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">03</p>
						<p class="experience__time">{t("experience.time3")}</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">{t("experience.name3")}</h3>
							<p class="experience__project">{t("experience.project3")}</p>
							<p class="experience__about">{t("experience.about3")}</p>
							<ul class="experience__ul">
								<li class="experience__li">{t("experience.ul3.li1")}</li>
								<li class="experience__li">{t("experience.ul3.li2")}</li>
								<li class="experience__li">{t("experience.ul3.li3")}</li>
								<li class="experience__li">{t("experience.ul3.li4")}</li>
								<li class="experience__li">{t("experience.ul3.li5")}</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/2.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="19"
							/>
						</div>
					</div>
				</article>
				<article class="experience__card">
					<div class="experience__top">
						<p class="experience__number">04</p>
						<p class="experience__time">{t("experience.time4")}</p>
					</div>
					<div class="experience__bottom">
						<div class="experience__data">
							<h3 class="experience__name">{t("experience.name4")}</h3>
							<p class="experience__project">{t("experience.project4")}</p>
							<p class="experience__about">{t("experience.about4")}</p>
							<ul class="experience__ul">
								<li class="experience__li">{t("experience.ul4.li1")}</li>
								<li class="experience__li">{t("experience.ul4.li2")}</li>
								<li class="experience__li">{t("experience.ul4.li3")}</li>
								<li class="experience__li">{t("experience.ul4.li4")}</li>
								<li class="experience__li">{t("experience.ul4.li5")}</li>
								<li class="experience__li">{t("experience.ul4.li6")}</li>
								<li class="experience__li">{t("experience.ul4.li7")}</li>
								<li class="experience__li">{t("experience.ul4.li8")}</li>
								<li class="experience__li">{t("experience.ul4.li9")}</li>
							</ul>
						</div>
						<div class="experience__picture">
							<img
								loading="lazy"
								src="/imgs/companies/1.png"
								alt=""
								class="experience__img"
								aria-hidden="true"
								width="70"
								height="87"
							/>
						</div>
					</div>
				</article>
				<div class="experience__empty"></div>
			</div>
			<div class="experience__writeTo">
				<WriteTo isDark />
			</div>
		</div>
	</div>
</section>
