---
import WriteTo from "../entities/WriteTo.astro";

import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="languages">
	<div class="languages__bg">
		<img
			loading="lazy"
			class="languages__dec"
			src="/imgs/languagesBg.svg"
			aria-hidden="true"
			alt=""
			width="1413"
			height="564"
		/>
	</div>
	<div class="container">
		<div class="languages__container">
			<h2 class="languages__title">
				<span class="languages__title--span">L</span><span class="languages__title--span">a</span><span
					class="languages__title--span">n</span
				><span class="languages__title--span">g</span><span class="languages__title--span">u</span><span
					class="languages__title--span">a</span
				><span class="languages__title--span">g</span><span class="languages__title--span">e</span><span
					class="languages__title--span">s</span
				>
			</h2>
			<div class="languages__blocks">
				<div class="languages__block">
					<p class="languages__skill">{t("languages.skill1")}</p>
					<p class="languages__name">{t("languages.name1")}</p>
				</div>
				<div class="languages__block">
					<p class="languages__skill">{t("languages.skill2")}</p>
					<p class="languages__name">{t("languages.name2")}</p>
				</div>
				<div class="languages__block">
					<p class="languages__skill">{t("languages.skill3")}</p>
					<p class="languages__name">{t("languages.name3")}</p>
				</div>
			</div>
			<div class="languages__writeTo">
				<WriteTo isDark />
			</div>
		</div>
	</div>
</section>
