---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="projects">
	<div class="container">
		<div class="projects__container">
			<div class="projects__col1">
				<h2 class="projects__title">
					<span class="projects__title--span1"
						><span class="projects__title--span">E</span><span class="projects__title--span">x</span><span
							class="projects__title--span">p</span
						><span class="projects__title--span">l</span><span class="projects__title--span">o</span><span
							class="projects__title--span">r</span
						><span class="projects__title--span">e</span>
						<span class="projects__title--span">p</span><span class="projects__title--span">a</span><span
							class="projects__title--span">r</span
						><span class="projects__title--span">t</span>
						<span class="projects__title--span">o</span><span class="projects__title--span">f</span>
					</span>
					<span class="projects__title--span2"
						><span class="projects__title--span">m</span><span class="projects__title--span">y</span>
						<span class="projects__title--span">p</span><span class="projects__title--span">r</span><span
							class="projects__title--span">o</span
						><span class="projects__title--span">j</span><span class="projects__title--span">e</span><span
							class="projects__title--span">c</span
						><span class="projects__title--span">t</span><span class="projects__title--span">s</span>
					</span>
				</h2>
				<article class="project">
					<button type="button" data-projectName="Derjy" class="project__btn">{t("project.btn")}</button>
					<div class="project__hover">{t("project.hover")}</div>
					<div class="project__text">
						<h3 class="project__titel">{t("project.title1")}</h3>
						<p class="project__description">{t("project.description1")}</p>
					</div>
					<picture aria-hidden="true">
						<source srcset="/imgs/projects/1.webp 1x, /imgs/projects/1@2x.webp 2x" type="image/webp" />
						<img
							src="/imgs/projects/1.jpg"
							srcset="/imgs/projects/1@2x.jpg 2x"
							class="project__img"
							alt="Держу в курсе"
							width="652"
							height="540"
						/>
					</picture>
				</article>
				<article class="project" data-projectName="Domova">
					<button type="button" data-projectName="Domova" class="project__btn">{t("project.btn")}</button>
					<div class="project__hover">{t("project.hover")}</div>
					<div class="project__text">
						<h3 class="project__titel">{t("project.title2")}</h3>
						<p class="project__description">{t("project.description2")}</p>
					</div>
					<picture aria-hidden="true">
						<source srcset="/imgs/projects/2.webp 1x, /imgs/projects/2@2x.webp 2x" type="image/webp" />
						<img
							src="/imgs/projects/2.jpg"
							srcset="/imgs/projects/2@2x.jpg 2x"
							class="project__img"
							alt="Domova"
							width="652"
							height="540"
						/>
					</picture>
				</article>
			</div>
			<div class="projects__col2">
				<article class="project" data-projectName="Kachka">
					<button type="button" data-projectName="Kachka" class="project__btn">{t("project.btn")}</button>
					<div class="project__hover">{t("project.hover")}</div>
					<div class="project__text">
						<h3 class="project__titel">{t("project.title3")}</h3>
						<p class="project__description">{t("project.description3")}</p>
					</div>
					<picture aria-hidden="true">
						<source srcset="/imgs/projects/3.webp 1x, /imgs/projects/3@2x.webp 2x" type="image/webp" />
						<img
							src="/imgs/projects/3.jpg"
							srcset="/imgs/projects/3@2x.jpg 2x"
							class="project__img"
							alt="KACHKA"
							width="652"
							height="540"
						/>
					</picture>
				</article>
				<article class="project" data-projectName="Sustayn">
					<button type="button" data-projectName="Sustayn" class="project__btn">{t("project.btn")}</button>
					<div class="project__hover">{t("project.hover")}</div>
					<div class="project__text">
						<h3 class="project__titel">{t("project.title4")}</h3>
						<p class="project__description">{t("project.description4")}</p>
					</div>
					<picture aria-hidden="true">
						<source srcset="/imgs/projects/4.webp 1x, /imgs/projects/4@2x.webp 2x" type="image/webp" />
						<img
							src="/imgs/projects/4.jpg"
							srcset="/imgs/projects/4@2x.jpg 2x"
							class="project__img"
							alt="Sustayn"
							width="652"
							height="540"
						/>
					</picture>
				</article>
			</div>
		</div>
	</div>
</section>
