---
import WriteTo from "../entities/WriteTo.astro";

import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="reviews" class="reviews">
	<div class="container">
		<div class="reviews__container">
			<div class="reviews__header">
				<div>
					<h2 class="reviews__title">
						<span class="reviews__title--span">R</span><span class="reviews__title--span">e</span><span
							class="reviews__title--span">v</span
						><span class="reviews__title--span">i</span><span class="reviews__title--span">e</span><span
							class="reviews__title--span">w</span
						><span class="reviews__title--span">s</span>
					</h2>
					<p class="reviews__switchText">
						<label for="slidersCheckbox" class="switch">
							<span class="reviews__switchText1 reviews__switchText--active">{t("reviews.label1")}</span>
							<input
								class="switch__input"
								type="checkbox"
								role="switch"
								name="slidersCheckbox"
								id="slidersCheckbox"
							/>
							<span class="reviews__switchText2">{t("reviews.label2")}</span>
						</label>
					</p>
				</div>
				<div class="reviews__writeTo reviews__writeTo--desktop">
					<WriteTo isDark />
				</div>
			</div>
			<div class="reviews__sliders">
				<div class="reviews__slider reviews__slider1 swiper">
					<div class="reviews__data">
						<p class="reviews__slideNumber">
							<span class="reviews__slideNumber--current reviews__slideNumber--current1">1</span> |
							<span class="reviews__slideNumber--all reviews__slideNumber--all1">3</span>
						</p>
						<div class="reviews__btns">
							<div class="reviews__btn swiper-button-prev1">
								<svg
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M5.21732 7.33349L13.334 7.3335L13.334 8.66683L5.21732 8.66683L8.95065 12.4002L8.00065 13.3335L2.66732 8.00016L8.00065 2.66683L8.95065 3.60016L5.21732 7.33349Z"
										fill="currentColor"></path>
								</svg>
							</div>
							<div class="reviews__btn swiper-button-next1">
								<svg
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M10.7827 8.6665H2.66602V7.33317H10.7827L7.04935 3.59984L7.99935 2.6665L13.3327 7.99984L7.99935 13.3332L7.04935 12.3998L10.7827 8.6665Z"
										fill="currentColor"></path>
								</svg>
							</div>
						</div>
					</div>

					<div class="swiper-wrapper">
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/1.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name1")}</p>
									<p class="reviews__position">{t("reviews.position1")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description1")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/2.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name2")}</p>
									<p class="reviews__position">{t("reviews.position2")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description2")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/3.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name3")}</p>
									<p class="reviews__position">{t("reviews.position3")}L</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description3")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/4.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name4")}</p>
									<p class="reviews__position">{t("reviews.position4")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description4")}</p>
						</div>
					</div>
				</div>
				<div class="reviews__slider reviews__slider2 swiper">
					<div class="reviews__data">
						<p class="reviews__slideNumber">
							<span class="reviews__slideNumber--current reviews__slideNumber--current2">1</span> |
							<span class="reviews__slideNumber--all reviews__slideNumber--all2">3</span>
						</p>
						<div class="reviews__btns">
							<div class="reviews__btn swiper-button-prev2">
								<svg
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M5.21732 7.33349L13.334 7.3335L13.334 8.66683L5.21732 8.66683L8.95065 12.4002L8.00065 13.3335L2.66732 8.00016L8.00065 2.66683L8.95065 3.60016L5.21732 7.33349Z"
										fill="currentColor"></path>
								</svg>
							</div>
							<div class="reviews__btn swiper-button-next2">
								<svg
									width="16"
									height="16"
									viewBox="0 0 16 16"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M10.7827 8.6665H2.66602V7.33317H10.7827L7.04935 3.59984L7.99935 2.6665L13.3327 7.99984L7.99935 13.3332L7.04935 12.3998L10.7827 8.6665Z"
										fill="currentColor"></path>
								</svg>
							</div>
						</div>
					</div>

					<div class="swiper-wrapper">
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/5.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name5")}</p>
									<p class="reviews__position">{t("reviews.position5")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description5")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/6.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name6")}</p>
									<p class="reviews__position">{t("reviews.position6")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description6")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/7.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name7")}</p>
									<p class="reviews__position">{t("reviews.position7")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description7")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/8.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name8")}</p>
									<p class="reviews__position">{t("reviews.position8")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description8")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/9.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name9")}</p>
									<p class="reviews__position">{t("reviews.position9")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description9")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/10.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name10")}</p>
									<p class="reviews__position">{t("reviews.position10")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description10")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/11.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name11")}</p>
									<p class="reviews__position">{t("reviews.position11")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description11")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/12.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name12")}</p>
									<p class="reviews__position">{t("reviews.position12")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description12")}</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img
									class="reviews__img"
									width="52"
									height="52"
									src="/imgs/reviews/13.jpg"
									aria-hidden="true"
									loading="lazy"
									alt=""
								/>
								<div class="reviews__info">
									<p class="reviews__name">{t("reviews.name13")}</p>
									<p class="reviews__position">{t("reviews.position13")}</p>
								</div>
							</div>
							<p class="reviews__description">{t("reviews.description13")}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews__writeTo reviews__writeTo--mobile">
				<WriteTo isDark />
			</div>
		</div>
	</div>
</section>
