---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about" class="skills">
	<h2 class="srOnly">Skills</h2>
	<div class="container">
		<div class="skills__container">
			<div class="skills__top">
				<div class="skills__picture">
					<div class="skills__circle"></div>
					<picture aria-hidden="true">
						<source srcset="/imgs/denisMin.webp 1x, /imgs/denisMin@2x.webp 2x" type="image/webp" />
						<img
							loading="lazy"
							src="/imgs/denisMin.png"
							srcset="/imgs/denisMin@2x.png 2x"
							alt="Denis Andreev"
							class="skills__img"
							width="76"
							height="76"
						/>
					</picture>
				</div>
				<p class="skills__description">
					<span class="skills__description--dec"></span>It is a long
					<sub class="skills__sub">
						<svg width="32" height="32" aria-hidden="true" focusable="false">
							<use href="/icons.svg#rabbit"></use>
						</svg>
					</sub>
					established fact that a reader will be distracted by the readable
					<sub class="skills__sub">
						<svg width="32" height="32" aria-hidden="true" focusable="false">
							<use href="/icons.svg#rabbit"></use>
						</svg>
					</sub>
					content of a page when looking at its layout. The point of using
					<sub class="skills__sub">
						<svg width="32" height="32" aria-hidden="true" focusable="false">
							<use href="/icons.svg#arrorRight"></use>
						</svg>
					</sub>
					Lorem Ipsum is that it has a more-or-less normal distribution of letters.
				</p>
			</div>
			<div class="skills__bottom">
				<div class="skills__row1">
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill1"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text1")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill2"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text2")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill3"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text3")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill4"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text4")}</p>
					</div>
				</div>
				<div class="skills__row2">
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill5"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text5")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill6"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text6")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill7"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text7")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill8"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text8")}</p>
					</div>
					<div class="skills__skill">
						<div class="skills__icon">
							<svg width="24" height="24" aria-hidden="true" focusable="false">
								<use href="/icons.svg#skill9"></use>
							</svg>
						</div>
						<p class="skills__text">{t("skills.text9")}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
