---
type Props = {
	className?: string;
	isDark?: boolean;
};

const { className = "", isDark = false } = Astro.props;
---

<a href="/CV_Denis_Andreev.pdf" target="_blank" class=`cvLink  ${isDark ? "cvLink--dark" : ""} ${className}`>
	Open CV
	<svg width="16" height="16" aria-hidden="true" focusable="false">
		<use href="/icons.svg#eye"></use>
	</svg>
</a>
