---
import CvLink from "../entities/CvLink.astro";
import WriteTo from "../entities/WriteTo.astro";
import Contacts from "../entities/Contacts.astro";
import SocialIcons from "../entities/SocialIcons.astro";

import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer">
	<div class="container">
		<div class="footer__container">
			<div class="footer__wrapper">
				<div class="footer__one">
					<WriteTo />
					<CvLink />
				</div>
				<div class="footer__two">
					<div class="footer__links">
						<a href="#experience" class="footer__link">{t("footer.experience")}</a>
						<a href="#about" class="footer__link">{t("footer.about")}</a>
						<a href="#education" class="footer__link">{t("footer.education")}</a>
						<a href="#reviews" class="footer__link">{t("footer.reviews")}</a>
					</div>
					<div class="footer__languages">
						<button id="footerEn" type="button" class="footer__language">EN</button>
						<button id="footerUa" type="button" class="footer__language">UA</button>
					</div>
					<div class="footer__contacts">
						<p class="footer__titel">{t("footer.contacts")}</p>
						<Contacts />
					</div>
				</div>
			</div>
			<p class="footer__titel footer__titel--social">{t("footer.social")}</p>
			<div class="footer__socials footer__socials--min">
				<SocialIcons />
			</div>
			<div class="footer__bottom">
				<p class="footer__coopyright">
					© Denis Andreev. <br class="footer__br" />
					All rights reserved
				</p>
				<button id="scrollToTop" type="button" class="footer__btn">
					<svg width="16" height="16" aria-hidden="true" focusable="false">
						<use href="/icons.svg#arrowTop"></use>
					</svg>
					{t("footer.btn")}
				</button>
				<div class="footer__socials">
					<SocialIcons />
				</div>
			</div>
		</div>
	</div>
</footer>
