---
import { getLangFromUrl, useTranslations } from "../../assets/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="projectsModal" class="modal projectsModal">
	<div class="modal__content modal__content--top modal__content--full">
		<div class="projectsModal__container">
			<div class="projectsModal__hero">
				<div class="projectsModal__firstImage" id="projectsModalFirstImage"></div>
				<button id="closeProjectsModal" type="button" class="projectsModal__close" aria-label="Close modal">
					<svg width="16" height="16" aria-hidden="true" focusable="false">
						<use href="/icons.svg#close"></use>
					</svg>
				</button>
			</div>
			<div class="projectsModal__data">
				<div class="projectsModal__header">
					<h3 id="projectsModalTitle" class="projectsModal__title">Project title</h3>
					<a
						href="#"
						target="_blank"
						rel="noreferrer noopener"
						class="projectsModal__link projectsModal__link--desktop"
					>
						{t("projectsModal.link")}
						<svg width="16" height="17" aria-hidden="true" focusable="false">
							<use href="/icons.svg#arrowTopRight"></use>
						</svg>
					</a>
				</div>
				<div class="projectsModal__info">
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">{t("projectsModal.subTitle1")}</p>
						<div id="projectsModalServices" class="projectsModal__list"></div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">{t("projectsModal.subTitle2")}</p>
						<div id="projectsModalStatistic" class="projectsModal__list"></div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">{t("projectsModal.subTitle3")}</p>
						<div class="projectsModal__list">
							<p id="projectsModalYear" class="projectsModal__text"></p>
						</div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">{t("projectsModal.subTitle4")}</p>
						<div class="projectsModal__list">
							<p id="projectsModalCompany" class="projectsModal__text"></p>
						</div>
					</div>
				</div>
				<a
					href="#"
					target="_blank"
					rel="noreferrer noopener"
					class="projectsModal__link projectsModal__link--mobile"
				>
					{t("projectsModal.link")}
					<svg width="16" height="17" aria-hidden="true" focusable="false">
						<use href="/icons.svg#arrowTopRight"></use>
					</svg>
				</a>
				<div class="projectsModal__footer">
					<div class="projectsModal__icon">
						<svg width="114" height="76" aria-hidden="true" focusable="false">
							<use id="projectsModalIconUse" href="/icons.svg#domova"></use>
						</svg>
					</div>
					<p class="projectsModal__description">
						<span class="projectsModal__description--dec"></span>
						<span id="projectsModalDescriptionText"></span>
					</p>
				</div>
			</div>
			<div class="projectsModal__pictures">
				<div class="projectsModal__secondImage" id="projectsModalSecondImage"></div>
				<div class="projectsModal__images">
					<div class="projectsModal__thirdImage" id="projectsModalThirdImage"></div>
					<div class="projectsModal__fourthImage" id="projectsModalFourthImage"></div>
				</div>
				<div class="projectsModal__fifthImage" id="projectsModalFifthImage"></div>
			</div>
		</div>
	</div>
</div>
